
body,
html {
  height: 100%;
  width: 100%;
}






.container-md {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}



.container-md>.login,
.hero-body {
  height: auto;
  width: 100%;
  max-width: 400px;
  min-height: 300px;
}

p .texto {
  color: aquamarine !important;
}





.header {
  
  background-position: center;
  background-size: cover;
  min-height: 0vh;
  position: relative;
  width:  500px;
  
}
.bg-body-tertiary{
  background-color: #00804E !important;
}
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2% 6%;
  
}
nav img {
  width: 64px;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #000;
  font-size: 13px;
  text-decoration: none;
}
.nav-links ul li::after {
  background: #EA891E;
  content: " ";
  display: block;
  height: 2px;
  margin: auto;
  width: 0%;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.border{
  border: none !important;
}
/* linea */
/*-----campues----*/
.campus {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.campus-col img {
  width: 100%;
  display: block;
}
.campus-col {
  flex-basis: 32%;
  border-radius: 15px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.capa {
  background: transparent;
  border-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.capa:hover {
  background: rgba(4, 9, 30, 0.7);
}
.capa h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.capa:hover h3 {
  bottom: 49%;
  opacity: 1;
}
.fila {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  margin-right: -15px;
    margin-left: -15px;
}